/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-size: 62.5%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  font-weight: bold;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
}
p {
  font-size: 1.2rem;
}
.container {
  width: 1500px;
  margin: 0 auto;
  border: 2px dashed red;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container .main-header {
  color: blue;
  border: 1px solid black;
  text-align: center;
  font-size: 3.5rem;
}
.container p {
  margin: 0 auto;
  font-size: 1rem;
}
.container .scoreboard {
  width: 100%;
  height: 180px;
  border: 1px dashed green;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container .scoreboard table {
  height: 100%;
  width: 100%;
}
.container .scoreboard table thead tr th {
  vertical-align: bottom;
  font-weight: bold;
  font-size: 1.6rem;
}
.container .scoreboard table tbody tr {
  border: 1px solid black;
  text-align: center;
}
.container .scoreboard table tbody tr .score {
  border: 1px solid black;
  vertical-align: middle;
  font-size: 1.6rem;
}
.container .game-section {
  display: flex;
  justify-content: space-between;
  height: 800px;
}
.container .game-section div {
  width: 33%;
  border: 1px solid blue;
  height: 100%;
}
.container .game-section div h2 {
  text-align: center;
  padding-top: 10px;
}
.pitcher-box .name {
  color: green;
}
.pitcher-box .pitcher-stats {
  height: 50%;
  border: 1px solid black;
  font-size: 1rem;
  width: 85%;
  margin: 0 auto;
}
.pitcher-box .pitcher-stats tr {
  border: 1px solid green;
  vertical-align: middle;
}
.pitcher-box .pitcher-stats tr th {
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
}
.pitcher-box .pitcher-stats tr td {
  vertical-align: middle;
  text-align: right;
}
.batter-box .name {
  color: green;
}
.batter-box .batter-stats {
  height: 50%;
  border: 1px solid black;
  font-size: 1rem;
  width: 85%;
  margin: 0 auto;
}
.batter-box .batter-stats tr {
  border: 1px solid green;
  vertical-align: middle;
}
.batter-box .batter-stats tr th {
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
}
.batter-box .batter-stats tr td {
  vertical-align: middle;
  text-align: right;
}
